ARG QD_RELEASE="{{ qd_release }}"
ENV QD_VERSION="{{ qd_release }}" QD_IMAGE="{{ qd_image }}"
ARG QD_BUILD="{{ qd_code }}-$QD_RELEASE"

ARG PRIVILEGED="false"
ARG SUDO_SHA256="79eef9ec144c99809c3f037b17ec0936555d7e526ac0b2688eaa8b77e1452e4f"
RUN if [ "$PRIVILEGED" = "true" ]; then \
        apt-get update && \
        apt-get install -y sudo && \
        useradd -m -u 1001 -U qodana && \
        passwd -d qodana && \
        echo 'qodana ALL=(ALL) NOPASSWD:ALL' >> /etc/sudoers && \
        chmod 777 /etc/passwd && \
        rm -rf /var/cache/apt /var/lib/apt/ /tmp/*; \
    else \
        curl -fsSL "https://raw.githubusercontent.com/JetBrains/qodana-docker/refs/heads/main/sudo" -o /usr/bin/sudo && \
        echo "${SUDO_SHA256} /usr/bin/sudo" > /tmp/sudo.shasum && \
        sha256sum --check --status /tmp/sudo.shasum && \
        chmod +x /usr/bin/sudo; \
    fi

LABEL maintainer="qodana-support@jetbrains.com" description="{{ description }}"
WORKDIR /data/project
ENTRYPOINT ["qodana", "scan"]